body {
	margin: 0px;
	padding: 0px;
}

#header h1 {
	color: blue;
	font-size: 3.25em;
	margin: 0px;
	padding: 10px;
	width: fit-content;
}

#header {
	width: 100%;
	background-color: #F0F8FF;
}

#maintitle {
	background-color: #F0F8FF;
}

#content {
	background-color: #F0F8FF;
	padding-left: 20px;
}

#content p {
	margin: 0px;
	padding: 5px;
}